<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alle Monster sind schon da ...</title>

    <!-- bootstrap importieren -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <h1>Alle Monster sind schon da ...</h1>
    <div class="container-fluid">
      <!-- Mit bootstrap cards lösen -->
      <div class="row">
        {% for monster in monsters %}
        <div class="col">
          <div class="card" style="width: 18rem; height: 600px;">
            <img class="card-img-top" src="http://monsterapi.pythonanywhere.com/media/monster_pics/{{ monster.picture_filename }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ monster.name }}</h5>
              <p class="card-text"><strong>Ilustration für:</strong> {{ monster.bible_passage }}<br />
                <strong>aus:</strong> {{ monster.book.title }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </body>
</html>
